* {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}
body {
  background-color: #5c7676;
  font-family: "DM Serif Text";
}
.quiz {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
}
.quiz__number-of-current-question {
  text-align: center;
  font-size: 20px;
  color: #535353;
}
.item__question {
  font-size: 28px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.answers {
  font-size: 18px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.answers__item {
  background-color: #c9d9d9;
  padding: 10px 0;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;
}
.quiz__btn-next {
  cursor: pointer;
  font-size: 16px;
  color: #535353;
  border: 1px #c9d9d9 solid;
  padding: 10px 0;
  border-radius: 6px;
  width: 100%;
}
.quiz__btn-next:hover {
  background-color: #dbe9e9;
  border-color: #dbe9e9;
}
.wrong {
  background-color: #ba4a4a;
}
.correct {
  background-color: #4aba7c;
}
.info {
  color: #8b8787;
  font-size: 15px;
}
.item__question_withInfo {
  margin-bottom: 25px;
}

@media (max-width: 730px) {
  .quiz {
    max-width: 500px;
    padding: 30px;
  }
}
@media (max-width: 580px) {
  .quiz {
    width: 300px;
  }
  .answers {
    grid-template-columns: repeat(1, 1fr);
  }
}

.quiz__btn-restart {
  display: none;
  cursor: pointer;
  font-size: 16px;
  color: #535353;
  border: 1px #c9d9d9 solid;
  padding: 10px 0;
  border-radius: 6px;
  width: 100%;
}
.quiz__btn-restart:hover {
  background-color: #dbe9e9;
  border-color: #dbe9e9;
}
.hide {
  display: none;
}

#theme-toggle {
  margin: 20px;
  background-color: #000;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.dark-theme {
  background-color: #000;
}

.dark-theme .quiz {
  background-color: #000;
  color: #fff;
  border: 3px solid #c9d9d9;
}

.dark-theme .answers {
  color: #000;
}

.dark-theme #theme-toggle {
  background-color: #fff;
}

.dark-theme .quiz__number-of-current-question {
  color: #8b8787;
}

.dark-theme #timer {
  color: #fff;
}

#timer {
  font-size: 44px;
  margin-left: 20px;
}
